.box-logo {
    height: 100px;
    padding: 10px 7px 10px 10px;
}

.ant-menu-item-selected {
    background-color: #BBC2C0 !important;
    color: #000000 !important;
    font-weight: 800;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .box-logo {
        display: none;
    }
  }

@media only screen and (max-width: 575px) {
    /* For mobile phones: */

    .sign-in {
        display: none;
    }
    .list-menu {
        display: block;
    }
    .sider-menu {
        display: none;
    }
    .inp-search {
        display: none;
    }
    .icon-search {
        display: block;
    }
  }

@media only screen and (min-width: 575px) {
    /* For mobile phones: */

    .sign-in {
        display: block;
    }
    .list-menu {
        display: none;
    }
    .sider-menu {
        display: block;
    }
    .inp-search {
        display: block;
    }
    .icon-search {
        display: none;
    }
  }