* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  background: #BBC2C0;
}

a {
  color: inherit;
  text-decoration: none;
}

.ant-layout {
  background: #BBC2C0;
}

@media only screen and (max-width: 375px) {
  /* For mobile phones: */
  .sider-menu {
      display: none;
  }
}

@media only screen and (min-width: 375px) {
  /* For mobile phones: */
  .sider-menu {
      display: block;
  }
}